body {
	/*background-image: url("");*/
	/*background-size: cover;*/
	background-color:rgba(0,0,0, .9);  

}

/* Controls the speeed of the flash effect*/

#flash {
	-webkit-animation: flash linear 4s infinite;
	
}
/* Adjust the look of the effect.*/
@-webkit-keyframes flash{
	0% {opacity: .7; }
	50% {opacity: .1; }
	100% {opacity: .7; }
}

.button {
	border-radius: 4px;
	border: 2px white solid;
	font-size: 25px;
	font-family: Aurebesh;	
	text-align: center;
	padding: 10px;
	color: rgba(200, 200, 200, .7);
	background-color: black;

}

a {
	height: 80px;
	width: 180px;
}

a:hover {
	text-decoration: none;
	color: white;
}

/* Centers the div horizontally */
div {
	text-align: center;

}
/* Centers the div vertically */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
	/* Allows the div to act like a td element.*/
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    /* Width can be any value, or not used at all. */
    /*width: ;*/
}

/* Hides the audio player for persistent sound effect, cleaner look.*/
audio {
	margin-top: 20%;
	float: right;
	display: none;
}

